{{ form_start(form) }}
    {{ form_widget(form) }}
    <button id="btn-save-ciu" class="w-100 btn btn-info my-2">{{ button_label|default('Guardar') }}<img class="ml-1" src="{{ asset('data/images/save.png') }}"/></button>
{{ form_end(form) }}
