{% extends 'base.html.twig' %}

{% block title %}Ciudad{% endblock %}

{% block body %}
  <div class="container pt-1 pb-1 pl-3" style="background-image: url('/data/images/fondos/casaFondoOpacity.png');">
        <div id="div-ciudad-regis">
            <div id="div-imgciudad-regis">
                <img id="img-ciudad-regis" src="/data/images/fondos/casaFondo4.jpg"></img>
            </div>
            <div class="" id="div-ciu-show">
                <h2 class="text-center">Ciudad</h2>

                <table class="table">
                    <tbody>
                        <tr>
                            <th class="bg-dark text-light">Ciudad</th>
                            <td>{{ ciudad.nombreCiudad }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="btn-group w-100 pr-2">
                  <a class="btn btn-dark my-2 ml-2 w-100" href="{{ path('ciudad_index') }}"><img src="{{ asset('data/images/arrow_white.png') }}"/>Volver a la lista</a>
                  <a class="btn btn-info ml-2 mr-2 my-2 rounded w-100" href="{{ path('ciudad_edit', {'id': ciudad.id}) }}">Editar<img class="ml-1" src="{{ asset('data/images/white_edit.png') }}"/></a>
                  {{ include('ciudad/_delete_form.html.twig') }}
                </div>
            </div>
          </div>
  </div>
{% endblock %}
