<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>
			{% block title %}MyDreamHouse
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link href="{{ asset('bootstrap/css/bootstrap.css') }}" type="text/css" rel="stylesheet"/>
			<link href="{{ asset('css/styles.css') }}" type="text/css" rel="stylesheet"/>
			<link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet"/>
			<link href="{{ asset('css/mi.css') }}" type="text/css" rel="stylesheet"/>
			<link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
			<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">
		{% endblock %}
	</head>
	<body>
		{% block navbar %}
			{{ include('navbar.html.twig') }}
		{% endblock %}

		{% block body %}
		{% endblock %}

		{% block javascripts %}
			<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
			<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
     		<script src="{{ asset('js/main.js') }}"></script>
		{% endblock %}
		
		{% block foot %}
			{{ include('footer.html.twig') }}
		{% endblock %}
	</body>
</html>
