<footer id="myFooter" class="card-footer text-light bg-dark">
	<div class="row justify-content-center">
		<div class="col-md-3">
			<h3>Sobre MyDreamHouse</h3>
			<ul>
				<li><a href=""><label class="contact">Todo sobre nosotros</label></a></li>
				<li><a href="{{ path('casa_index') }}"><label class="contact">Busca tu casa</label></a></li>
			</ul>
		</div>
		<div class="col-md-3">
			<h3>¿TIENES UN INMUEBLE?</h3>
			<ul>
				<li><a href="{{ path('usuario_new') }}"><label class="contact">Regístrate</label></a></li>
				<li><a href="{{ path('app_login') }}"><label class="contact">Inicia sesión</label></a></li>
				<li><a href="mailto:mydreamhousespain@gmail.com"><label class="contact">Contáctanos</label></a></li>
			</ul>
		</div>
		<div class="col-md-3">
			<h3>CONTACTO</h3>
			<ul>
				<li><a href="https://twitter.com/_MyDreamHouse?s=08"><img id="twitter"src="{{ asset('data/images/twitter.png') }}"><label class="contact">Twitter</label></a></li>
				<li><a href="https://instagram.com/mydreamhouse1_?igshid=flkak1ffx8eg"><img id="insta"src="{{ asset('data/images/insta.png') }}"><label class="contact">Instagram</label></a></li>
				<li><a href="mailto:mydreamhousespain@gmail.com"><img id="mail"src="{{ asset('data/images/mail.png') }}"><label class="contact">mydreamhousespain@gmail.com</label></a></li>
			</ul>
		</div>
	</div>
</footer>
<div class="container-fluid" id="copyright">
	<p class="text-center">Zinking Centre - ©2020 MyDreamHouse | Política de privacidad. Aviso legal</p>
</div>
