{% extends 'base.html.twig' %}

{% block title %}Fotos index{% endblock %}

{% block body %}
    <h1>Fotos index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ruta</th>
                <th>Principal</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for foto in fotos %}
            <tr>
                <td>{{ foto.id }}</td>
                <td>{{ foto.ruta }}</td>
                <td>{{ foto.principal }}</td>
                <td>
                    <a href="{{ path('fotos_show', {'id': foto.id}) }}">show</a>
                    <a href="{{ path('fotos_edit', {'id': foto.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('fotos_new') }}">Create new</a>
{% endblock %}
