{% extends 'base.html.twig' %}

{% block title %}
	{{ casa.titulo }}
{% endblock %}

{% block body %}
	<a class="btn btn-dark my-2 ml-2" href="{{ path('casa_index') }}"><img src="{{ asset('data/images/arrow_white.png') }}"/>Volver a la lista</a>
	<div class="ctn-image-house-show2">
		{% set counter = ( counter | default(0) ) + 1 %}
		<div id="slider{{ counter }}" class="carousel slide" data-interval="false">
			<div class="carousel-inner">
				{% for foto in casa.fotos %}
					{% if foto.principal == 1 %}
						<div class="carousel-item active">
							<img class="d-block w-100 img-fluid" src="{{ foto.ruta|slice(0,8) == 'https://' ? foto.ruta : asset('data/images/casas/'~ foto.ruta) }}" alt="Imagen principal">
						</div>
					{% else %}
						<div class="carousel-item">
							<img class="d-block w-100 img-fluid" src="{{ foto.ruta|slice(0,8) == 'https://' ? foto.ruta : asset('data/images/casas/'~ foto.ruta) }}" alt="Imagen secundaria">
						</div>
					{% endif %}
				{% else %}
					<p>No se ha encontrado ninguna foto</p>
				{% endfor %}
			</div>

			<a class="carousel-control-prev" href="#slider{{ counter }}" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#slider{{ counter }}" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
			<div class="cabecera-casa">
				<div class="tipo-casa-div">{{ casa.direccion }},
					{{ casa.cp }},
					{{ casa.getIdCiu }}</div>
				<div class="info-derecha">{{ casa.precio }}€{{ casa.tipoVenta == 'alquiler' ? '/mes' : '' }}</div>
			</div>
		</div>
	</div>

	<div class="titulo-casa">
		<h3>{{ casa.titulo }}</h3>
	</div>
	<br>
	<div class="desc-casa">

		<table class="info-adicional">
			<tr>
				<td>Tipo de casa</td>
				<td>{{ casa.tipoCasa }}</td>
			</tr>
			<tr>
				<td>Metros</td>
				<td>{{ casa.m2 }}
					m²</td>
			</tr>
			<tr>
				<td>Nº Habitaciones</td>
				<td>{{ casa.habitaciones }}</td>
			</tr>
			<tr>
				<td>Nº Baños</td>
				<td>{{ casa.banos }}</td>
			</tr>
			<tr>
				<td>Ciudad</td>
				<td>{{ casa.getIdCiu }}</td>
			</tr>
			<tr>
				<td>Codigo Postal</td>
				<td>{{ casa.cp }}</td>
			</tr>
			<tr>
				<td>Extras</td>
				<td>{{ casa.extra1 }},
					{{ casa.extra2 }}</td>
			</tr>
		</table>

		{{ casa.descripcion }}

	</div>
    <br>
	<div class="row">
		<div class="col-2 col-lg-2 col-xl-3"></div>
		<div class="col-8 col-lg-8 col-xl-6 img_fluid" id="map_canvas"></div>
		<div class="col-2 col-lg-2 col-xl-3"></div>
	</div>

	<a class="btn btn-dark my-2 ml-2" href="{{ path('casa_index') }}"><img src="{{ asset('data/images/arrow_white.png') }}"/>Volver a la lista</a>
	{{ include('casa/mapa.html.twig') }}
{% endblock %}
